.play-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-title-container {
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative; /* Ensure that children are positioned relative to this container */
}
#play-title {
    height: auto;
}

#play-riolu-gif {
    width: 60px;
    height: 60px;
    image-rendering: pixelated;
    bottom: 30%;
    position: absolute;
    animation: slide-in 9s forwards; 
}


@keyframes slide-in {
    from {
        left: -100%;
    }

    to {
        left: calc(50% - 500px); /* Adjust this value based on the exact size and positioning */
    }
}

#play-play-button {
    font-size: 60px;
}

#play-play-button {
    transition: all .2s ease-in-out;
}

#play-play-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.play-footer {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    font-size: 24px;
}

#play-import {
    margin: 1em;
    margin-right: auto;
}

#play-import:hover {
    cursor: pointer;
}


#play-github-link {
        margin: 1em;
    }
