@using PokeGotchi.Components.Playground
@inject AppState GameState
@inject IJSRuntime JS

<div id="playground-screen-container" class="stamp animate__animated animate__backInDown">
    @if (PartnerPokemon != null)
    {
        <!-- Partner Info Component -->
        <PartnerInfo PartnerPokemon="@PartnerPokemon" />

        <!-- Playground Grid Component -->
        <PlaygroundGrid 
            NumOfRows="@numOfRows" 
            NumOfColumns="@numOfColumns" 
            PartnerPokemon="@PartnerPokemon" 
            OnTargetCellClick="MoveToTarget" 
            OnSaveAndRefresh="SaveAndRefresh"/>



    }
    else
    {
        <p>Loading partner data...</p>
    }
</div>


