@page "/play"

<div class="play-title-container">
    <img id="play-riolu-gif" src="images/walk-trip.gif"/>
    <img id="play-title" src="images/pokegotchi-title.gif" height="30%" width="30%">
</div>

<h1>Play</h1>

<footer class="play-footer">
    <div id="play-import">
        Import Save
    </div>
    <div id="play-github-link">
        <a href="https://github.com/khadir786">github.com/khadir786</a>
    </div>
</footer>
@code {

}
