<div id="playground-experience">
    <p>Experience</p>
    <div class="stat-bar experience-bar" style="width: @ExperienceValue%;"></div>
</div>

@code {
    [Parameter] public int ExperienceValue { get; set; }
}
