@using PokeGotchi.Models
@using PokeGotchi.Components.Playground.PartnerInfoComps
@using PokeGotchi.Models.Enums

<div id="playground-partner-info">
    
    <PartnerCurrentState PartnerPokemon="@PartnerPokemon" />

    <PartnerMood PartnerPokemon="@PartnerPokemon" />

    <PartnerStats PartnerPokemon="@PartnerPokemon" />

    <PartnerExperience ExperienceValue="@PartnerPokemon.Stats[Stats.Experience]" />
</div>

@code {
    [Parameter] public Partner PartnerPokemon { get; set; }
}