#playground-partner-info {
    grid-area: 1 / 1 / 7 / 2;
    background-color: #71563C;
    border-radius: 10px;
    padding: 5%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}