#playground-partner-info {
    grid-area: 1 / 1 / 7 / 2;
    background-color: #71563C;
    border-radius: 10px;
    padding: 5%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

#playground-current-state-container {
    border: 2px solid rgba(255, 255, 255, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 22%;
    justify-content: flex-start;
    margin-bottom: 20px;
    background-color: #4B3F34;
    border-radius: 10px;
    padding: 20px;
}

#playground-partner-name {
    position: absolute;
    top: 70%;
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-top: 10%;
}

#playground-current-state-sprite {
    width: 70%;
    image-rendering: pixelated;
    height: auto;
    margin: 0 auto;
}

#playground-current-mood {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ECC792;
}

#playground-current-mood > p {
    margin: 5px 0;
    font-size: 18px;
    color: white;
}

#playground-partner-stats-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    background-color: #4B3F34;
    padding: 20px;
    text-align: center;
    justify-content: space-between;
}

#playground-partner-stats-container p {
    font-size: 18px;
    color: #ECC792;
}

#playground-partner-stats-container p:nth-child(even) {
    font-weight: bold;
    color: white;
}

.stat-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.stat-bar {
    height: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

.happiness-bar {
    background-color: #FFDD57; /* yellow for happiness */
}

.friendship-bar {
    background-color: #57AFFF; /* blue for friendship */
}

.hunger-bar {
    background-color: #FF5757; /* red for hunger */
}

.energy-bar {
    background-color: #57FF95; /* green for energy */
}

#playground-experience {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
}